*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6c53da;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

div{
    margin-top: 10px;
    border: 50px;
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}